.box {
  width: 200px;
  height: 300px;
  border: black solid 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  height: 10%;
}
.test {
  height: 70%;
}
.btn {
  height: 10%;
  display: flex;
  justify-content: center;
}
