* {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
.body_title h1 {
  text-align: center;
}
.body_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
